
.header{
    display: flexbox;
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;    
    mix-blend-mode: normal;    
}

  .header-fone_up{
    position: absolute;
    width: 1920px;
    height: 936px;
    left: -1px;
    top: 165px;
    bottom: 0px;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.2) 12.59%, rgba(0, 0, 0, 0) 101.31%), url(/img/main.png);
    mix-blend-mode: normal;
}
.header-fone{
    position: absolute;
    width: 1920px;
    height: 936px;
    left: -1px;
    top: 165px;
    bottom: 0px;
    background: rgba(33, 50, 94, 0.8);
    mix-blend-mode: normal;
}
.top-box{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    height: 106px;
    width: 1920px;
    border-radius: 0px;
    background: #ffffff;
}
.text-box{    
    position: absolute;
    left: 82.5%;
    right: 4.01%;
    top: 0%;
    bottom: 0%;
    width: 259px;
    height: 106px;
    font-family: Arimo;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    display: block;
    align-items: center;
    text-align: right;
    color: #009C41;
}
.text-box h3{
    position: absolute;
    font-family: Arimo;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 100%;
    display: block;
    align-items: center;
    text-align: right;
    margin-top: 2px;
    color: #009C41;
    right: 0%;
    top: 35px;
}
.text-box h2{
    position: absolute;
    font-family: Arimo;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 100%;
    display: none;
    align-items: center;
    text-align: right;
    color: #f55929;
    right: 0px;
    margin-top: 22px;
}
.icon-box{    
    position: absolute;
    width: 38px;
    height: 38px;
    left: 1862px;
    top: 35px;
    background: #009C41;
    border-radius: 10px;
}
.vector-up{  
    display: block;
    position: absolute;
    left: 40%;
    right: 40%;
    top: 31%;
    bottom: 50%;
    background: #FFFFFF;
    border: 0.2px solid #FFFFFF;
    border-radius: 10px;
}
.vector-down{
    position: absolute;
    left: 30%;
    right: 30%;
    top: 54%;
    bottom: 31%;
    background: #FFFFFF;
    border: 0.2px solid #FFFFFF;
    border-radius: 10px;
}
.top-box_one{
    display: none;
    position: absolute;
    width: 375px;
    height: 36px;
    left: 0px;
    top: 0px;    
    background: #FFFFFF;
    }
.top-left{
    position: absolute;
    width: 18px;
    height: 14px;
    left: 40px;
    top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    color: #000000;
}
.top-right{
    position: absolute;
    width: 36px;
    height: 14px;
    left: 310px;
    top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    color: #000000;
}
.top-box_two{
    position: absolute;
    left: 3.47%;
    right: 3.47%;
    top: 43px;
    bottom: 90.27%;    
    background: #EEEEEE;
    border-radius: 30px;
    }
.header-top{
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0%;
    height: 76px;
    width: 1920px;    
    top: 106px;
    border-radius: 0px;    
    background: #F5F5F5;
    }
.header-right{
    position: absolute;
    width: 76px;
    height: 76px;
    left: 1422px;
    top: 211px;
    background: url(/img/icon.png);
}
.header-left{
    position: absolute;
    width: 745px;
    height: 55px;
    left: 647px;
    top: 230px;
    font-family: Arimo;
    font-style: normal;
    font-weight: normal;
    font-size: 58px;
    line-height: 55px;
    text-align: right;
    color: #FFFFFF;
}
.line{
    position: absolute;
    width: 1076px;
    height: 5px;
    left: 422px;
    top: 287px;
    background: #FFFFFF;
    border-radius: 2px;
}
.line_one{   
    display: none; 
    position: absolute;
    width: 375px;
    height: 0px;
    left: 0px;
    top: 101px;
    border: 1px solid #E9E9E9;
}
.header-center_h{    
    position: absolute;
    left: 647px;
    right: 13.1%;
    top: 364px;
    bottom: 70.34%;
    width: 627px;
    height: 28px;
    font-family: Arimo;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}
.header-center{   
    position: absolute;
    left: 928px;
    right: 33.65%;
    top: 449px;
    bottom: 500px;
    width: 164px;
    height: 28px;
    font-family: Arimo;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    color: #FFFFFF;
}
.header-centerone{
    position: absolute;
    left: 993px;
    right: 12.29%;
    top: 613px;
    bottom: 73.83%;
    width: 99px;
    height: 28px;
    font-family: Arimo;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    color: #FFFFFF;
}
.header-centertwo{
    position: absolute;
    display: inline-block;
    left: 585px;
    right: 594px;
    top: 807px;
    bottom: 38.16%;
    font-family: Arimo;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    color: #FFFFFF;
}
.btn{    
    position: absolute;
    left: 785px;
    right: 12.29%;
    top: 492px;
    bottom: 427px;
    height: 58px;
    width: 350px;
    background: #FFFFFF;
    border-radius: 35px;
}
.btn h1{
    position: absolute;
    left: 0%;
    margin-left: 28px;
    right: 0%;
    top: -15%;
    bottom: 15%;
    width: 18px;
    height: 18px;    
    }
.btnone{
    position: absolute;
    left: 785px;
    right: 0%;
    top: 656px;
    bottom: 5.61%;
    height: 58px;
    width: 350px;
    background: #FFFFFF;
    border-radius: 35px;
}
.btntwo{
    position: absolute;
    left: 55%;
    right: 18%;
    top: 17.24%;
    bottom: -17.24%;
    height: 58px;
    width: 350px;
    background: #009C41;
    border-radius: 35px;
}
.btntwo h1{
    position: absolute;
    left: 40%;
    right: 40%;
    top: 0%;
    bottom: 27.59%;
    font-family: Arimo;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    width: 59px;
    height: 28px;
    color: #FFFFFF;
}
.btntwoto{
    position: absolute;
    display: inline-block;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    height: 58px;
    width: 350px;
    background: #C4C4C4;
    border-radius: 35px;
}
.btntwoto h2{
    position: absolute;
    left: 0%;
    margin-left: 122px;
    right: 0%;
    top: -20%;
    bottom: 40%;
    width: 10px;
    height: 10px;
}
.btntwoto h1{
    position: absolute;
    left: 46.29%;
    right: 36.86%;
    top: 0%;
    bottom: 27.59%;
    font-family: Arimo;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    width: 59px;
    height: 28px;
    color: #FFFFFF;
}

